body {
  margin: 0;
  background-color: black;
  color: white;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  text-align: center;
}
::-webkit-scrollbar {
  background-color: #1b1b1b;
}
::-webkit-scrollbar-thumb {
  /* background: linear-gradient(#28a6fa, #00ffe7); */
  background: whitesmoke;
}

.success {
  --toastBackground: #48BB78;
  --toastBarBackground: #2F855A;
}
.error {
  --toastBackground: #F56565;
  --toastBarBackground: #C53030;
}
.warning {
  --toastBackground: #ffcc00;
  --toastBarBackground: #b79200;
}