body {
  margin: 0;
  background-color: black;
  color: white;
}
* {
  font-family: Arial, Helvetica, sans-serif;
}
.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);
  width: 100%;
  text-align: center;
}